@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body{
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #121212;
    position: relative;
  }
}

@layer utilities {
  .spin-blur-background{
    -webkit-box-shadow: 0px 0px 78px 67px rgba(232,140,28,1);
    -moz-box-shadow: 0px 0px 78px 67px rgba(232,140,28,1);
    box-shadow: 0px 0px 50px 50px rgba(232,140,28,1);
    animation: vasco 4s;
    animation-iteration-count: infinite;

  }

  @keyframes vasco {
    from {
      transform: rotate(0deg)
    } 25% {
      transform: rotate(-45%)
    } to {
      transform: rotate(360deg)
    }
  }
}

@layer components {
  .clip-path-circle{
    clip-path: circle(50% at bottom right);
  }
}
